<header>
    <div class="row">
      <div class="col-4">
      </div>
        <div class="col-8">
        <h1 class="title">
        Bird on the Run 
        </h1>
        </div>
      <div class="col-4">
      </div> 
    </div> 
    
    <div class="row">
      <div class="col-5">
      </div>
        <div class="col-1">
        <img
            id="chicken-logo"
            alt="Chicken Logo"
            src="https://cdn.glitch.com/8cae72da-8ec9-4d88-83b4-ae815e59f15e%2Fmaclife150400060-removebg-preview.png?v=1586444409101"
            height="200" width="200"
        />  
        </div>
      <div class="col-5">
      </div> 
    </div> 
</header>