<% if (locals.cart) { %> 
  <% var checkout=[] %>
  <% var total= 0 %>
    <% cart.forEach(order=>{ %>                                           
           <%checkout.push(order.item)%>
           <%total = total + order.price %>
  <%})%>

  <%var list = {}%>
  <%for (var i = 0; i<checkout.length; i++){%>
    <% if (list.hasOwnProperty(checkout[i])){%>
            <%list[checkout[i]] = list[checkout[i]]+1%>
        <%}else{%>
            <%list[checkout[i]]='1'%>
    <%}%>
  <% }%>
<%for (var j = 0; j<Object.keys(list).length; j++){%>
    <ul>
     <span class="itemName"><%=Object.keys(list)[j]%></span> 
     <span class="quantity"><%=(Object.values(list)[j].length)%></span>
    </ul>
<%}%>
<%}%>

<%=total%>