<head>
  <link href="cart.css" rel="stylesheet" type="text/css">
  <%- include ('../partials/bootstrap.js') %>
</head>
<body>
  <header>
    <div class="row">
      <div class="col-2">
      </div>
        <div class="col-8">
        <h2 class="title">
        Bird on the Run 
        </h2>
        </div>
     <div class="col-2">
        <img
            id="chicken-logo"
            alt="Chicken Logo"
            src="https://cdn.glitch.com/8cae72da-8ec9-4d88-83b4-ae815e59f15e%2Fmaclife150400060-removebg-preview.png?v=1586444409101"
            height="200" width="200"
        />  
        </div>
    </div>  
  </header>
<!-- EJS to extract cart items and prices  -->
<% if (locals.cart) { %> 
  <% var checkout=[] %>
  <% var total= 0 %>
    <% cart.forEach(order=>{ %>                                           
           <%checkout.push(order.item)%>
           <%total = total + order.price %>
  <%})%>

  <%var list = {}%>
  <%for (var i = 0; i<checkout.length; i++){%>
    <% if (list.hasOwnProperty(checkout[i])){%>
            <%list[checkout[i]] = list[checkout[i]]+1%>
        <%}else{%>
            <%list[checkout[i]]='1'%>
    <%}%>
  <% }%>
<!-------------------------------------------->
  
 <section class="viewOrder">
    <div class="row">
      <div class="col-8">
          <h3>
            Order
        </h3>
      </div>
      <div class="col-4">
          <h3>
            Quantity
        </h3>
      </div>
   </div>
   
  <%for (var j = 0; j<Object.keys(list).length; j++){%>
    <div class="row">
      <div class="col-8" class="itemName">
        <%=Object.keys(list)[j]%>
      </div>
      <div class="col-4" class="quantity">
        <%=(Object.values(list)[j].length)%>
      </div>
    </div>
  <%}%>
  <%}%> 
   
   <div class="row">
      <div class="col-8">
          <h3>
            Total
        </h3>
      </div>
      <div class="col-4">
          <h3>
            $<%=total%>
        </h3>
      </div>
   </div>   
</section> 

<section class="checkout">
  <div class="row">
  <div class="col-6">
    </div>
  <div class="col-6">
      <button>
    Confirm Purchase
  </button>
  </div>    
  </div>


</section>

</body>