<head>
  <link href="cart.css" rel="stylesheet" type="text/css">
  <%- include ('../partials/bootstrap.js') %>
</head>

<body>
  <%- include ('../partials/header.ejs') %>
  <div class="d-flex justify-content-center thanks">
    Thank you for your order!
  </div>
</body>

<footer>
  <div class="d-flex justify-content-center credit">
    This project was modeled after the restuarant, <a class="ref" href="https://www.birdontherun.com/">Bird on the Run</a>  
  </div>
</footer>