<p>
  hey
</p>

<p>
  Here's what your store is currently offering: 
</p>

  <% if (locals.food) { %> 
    <% JSON.stringify(food) %> 
<!--       <ul>      
        <% food.forEach(result=>{ %>
          <%= result%>
        <% }); %>
      </ul>
  <% }%>  -->
<%=food%>