<p>
  hey
</p>

<p>
  Here's what your store is currently offering: 
</p>

  <% if (locals.food) { %> 
        <% food.forEach(result=>{ %>
      <ol> 
          <%= result%>
      </ol>
    <% }); %>
  <% }%> 