@font-face {
  font-family: bubbleFont;
  src: url(https://cdn.glitch.com/451312bc-7fb7-45c4-95a9-ce8d187f2475%2FBUBBLEGUMS.TTF?v=1579198337837);
}

header {
  font-family: bubbleFont;
}

.title{
  margin-left:50px;
}

.item {
  padding-top:2rem;
  padding-bottom:2rem

}

button{
  color: fcab83;
  border: solid;
  border-color: fcab83;
  background-color: white;
  padding: 1.01rem;
  border-radius: 5px !important;
}

.confirm {
  margin-top: 100px;
}