@font-face {
  font-family: bubbleFont;
  src: url(https://cdn.glitch.com/451312bc-7fb7-45c4-95a9-ce8d187f2475%2FBUBBLEGUMS.TTF?v=1579198337837);
}

header {
  font-family: bubbleFont;
}

.title{
  margin-left:45px;
  margin-top:30px;
}

.credit {
  color: fcab83;
  font-size:15px;
  margin-top: 100px;
}

a:link {
  color: ff9e6e;
  text-decoration: none;
}

a:visited {
  color: fa8246;
  text-decoration: none;
}

.thanks{
  color: fcab83;
  padding:5rem;
  font-size:2.5rem;
}